@use 'sass:math';

$background-scale: math.cos(15deg) + math.sin(15deg);

.background {
  width: max(100vw * $background-scale, 100vh * $background-scale);
  height: max(100vw * $background-scale, 100vh * $background-scale);
  background: #fff;
  filter: blur(8px);
}

.yellow, .magenta, .cyan {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: row wrap;
  mix-blend-mode: multiply;

  & > div {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    will-change: transform;
  }
}

.yellow {
  transform: rotate(180deg);

  & > div {
    background: #ff0;
  }
}

.magenta {
  transform: rotate(75deg);

  & > div {
    background: #f0f;
  }
}

.cyan {
  transform: rotate(195deg);

  & > div {
    background: #0ff;
  }
}
