@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: Gabarito;
  src:
    url('/fonts/Gabarito-Black.woff2') format('woff2'),
    url('/fonts/Gabarito-Black.woff') format('woff'),
    url('/fonts/Gabarito-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Gabarito;
  src:
    url('/fonts/Gabarito-Bold.woff2') format('woff2'),
    url('/fonts/Gabarito-Bold.woff') format('woff'),
    url('/fonts/Gabarito-Bold.ttf') format('truetype');
  font-display: swap;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 100%;
  font-size: clamp(100%, min(4.5vw, 5.5vh), 200%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-weight: 700;
  font-family:
    Gabarito,
    Arial,
    Helvetica,
    Roboto,
    sans-serif;
  text-align: center;
}

$nav-line-height: 1.5rem;
$nav-vertical-padding: 0.125rem;
$nav-height: $nav-line-height + $nav-vertical-padding * 2;

.nav__blur {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: $nav-height;
  backdrop-filter: blur(8px);
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transform: translateX(-50%);
  mix-blend-mode: exclusion;

  a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: $nav-vertical-padding 0.625rem;
    background: #fff;
    color: #000;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: $nav-line-height;
    text-decoration: none;

    div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: $nav-height * 2;
      background: #fff;
      transition: transform 166ms ease-in;
      transform: scaleY(0);
      mix-blend-mode: exclusion;
    }

    &:hover div {
      transition-timing-function: ease-out;
      transform: scaleY(0.1);
    }

    &.active div {
      transition-timing-function: ease-out;
      transform: scaleY(1);
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    background: #fff;
  }

  &:before {
    left: 100%;
  }

  &:after {
    right: 100%;
  }
}

@supports not (mix-blend-mode: exclusion) {
  nav a {
    div {
      top: auto;
      bottom: 0;
      overflow: hidden;
      height: 0;
      background: #000;
      color: #fff;
      /* stylelint-disable-next-line */
      transition-property: height;
      transform: none !important;
      mix-blend-mode: normal;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: $nav-height;
        padding: $nav-vertical-padding 0;
      }
    }

    &:hover div {
      height: 0.25rem;
    }

    &.active div {
      height: $nav-height;
    }

    &[href$=cmyk] div:after {
      content: 'CMYK';
    }

    &[href$=rgb] div:after {
      content: 'RGB';
    }

    &[href$=xyz] div:after {
      content: 'XYZ';
    }
  }
}

main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: ($nav-height + 2rem) 0;
  color: #fff;
  mix-blend-mode: exclusion;
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: row wrap;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 7rem;
  line-height: 7rem;
}

.button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  padding: 0.125rem;
  border-radius: 50%;
  background: #fff;
  color: #000;
  cursor: pointer;

  &:hover, &:active {
    background: none;
    color: #fff;
  }

  svg {
    display: block;
    fill: currentColor;
  }
}
